<div class="row">
	<nav class="span4">
		<h3>Options:</h3>
	</nav>

	<article class="span12">
		<h2>Staff Listing <span class="subhead"><%= link_to 'add staff', new_staff_path %></span></h2>
		<table class="zebra-striped">
		  <tr>
		    <th>Name</th>
		    <th>Dept</th>
		    <th>Phone</th>
		    <th>Email</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>

		<% @staffs.each do |staff| %>
		  <tr>
		    <td><%= staff.name %></td>
		    <td><%= staff.dept %></td>
		    <td><%= staff.phone %></td>
		    <td><%= staff.email %></td>
		    <td><%= link_to 'Show', staff %></td>
		    <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
		    <td><%= link_to 'Destroy', staff, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
		</table>
	</article>
</div>